@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash {
  position: absolute;
  width: 390px;
  height: 100vh;
  top: 0;
  animation: fadeout 1s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  font-family: Spoqa Han Sans Neo;
  background-color: gainsboro;
}

#container {
  width: 390px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#header .top-main-nav {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__search .search__logo-img {
  background-image: url(img/symbol-logo-gray.png);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.home__search .search__text {
  font-size: 14px;
  line-height: 14px;
  color: #767676;
  font-weight: normal;
  margin: 20px auto;
}
.home__search .search__btn {
  width: 120px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}
#footer .tab-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  position: absolute;
}
