body {
  display: flex;
  justify-content: center;
  font-family: Spoqa Han Sans Neo;
  background-color: gainsboro;
}

#container {
  width: 390px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 34px 0 34px;
}

#container h1 {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.notice-txt {
  font-size: 14px;
  line-height: 14px;
  color: var(--gray);
  margin-bottom: 30px;
}

.profile-img {
  position: relative;
}
.profile__upload-btn {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 2px;
  right: 0;
  cursor: pointer;
}
.profile__upload-btn .upload-file {
  width: 36px;
  height: 36px;
}

.user-name,
.user-id {
  margin-bottom: 16px;
}

.user-desc {
  margin-bottom: 30px;
}
.text-active-input.user-id .error-txt--syntax,
.text-active-input.user-id .error-txt--used-id {
  display: none;
  color: #eb5757;
  font-size: 12px;
  line-height: 14px;
}
.text-active-input.user-id.error--syntax .error-txt--syntax,
.text-active-input.user-id.error--used-id .error-txt--used-id {
  display: block;
  margin-top: 6px;
}
.start-btn {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}
