body {
  display: flex;
  justify-content: center;
  font-family: Spoqa Han Sans Neo;
  background-color: gainsboro;
}

#container {
  width: 390px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 34px 0 34px;
}

#container h1 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.email-login {
  margin-bottom: 16px;
}

.email-pw {
  margin-bottom: 30px;
}

.text-active-input.email-pw .error-txt {
  display: none;
  color: #eb5757;
  font-size: 12px;
  line-height: 14px;
}

.text-active-input.email-pw.error .error-txt {
  display: block;
}
.login-btn {
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.email-join__link {
  font-size: 12px;
  line-height: 15px;
  color: var(--gray);
}
