/*상품 등록 페이지 */
/* #add-product-wrap {

} */

#add-product-wrap .top-upload-nav {
    border-radius: 20px;
}

#add-product-wrap .Ms-button {
    transition: background-color ease-in-out .2s;
}
#add-product-wrap .Ms-Disabled-button {
    transition: background-color ease-in-out .2s;
}

#add-product-wrap .product-write {
    border-top: 0.5px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-product-wrap .L-upload-img {
    margin: 30px 0;
}

/* #add-product-wrap .prodcut-write p {} */

#add-product-wrap #image-input {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    z-index: -1000;
    white-space: nowrap;
}

#add-product-wrap .user-product-preview {
    margin-top: 18px;
    display: block;
    height: 204px;
    width: 322px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F2F2F2;
    border: 0.5px solid #DBDBDB;
}

#add-product-wrap .user-product-preview>.user-product-img {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#add-product-wrap .user-product-preview>.user-product-img.img-visible {
    display: block;
}

#add-product-wrap .user-product-upload {
    display: block;
    position: relative;
}

#add-product-wrap .user-product-upload>.img-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#add-product-wrap .product-write>.text-active-input {
    margin-top: 8px;
}

#add-product-wrap .product-write>.text-active-input input {
    padding-top: 10px;
}

/*플레이스홀더 브라우저별 호환*/
/* Chrome/Opera/Safari */
#add-product-wrap .input-email::-webkit-input-placeholder {
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #DBDBDB;
}
/* Firefox 19+ */
#add-product-wrap .input-email::-moz-placeholder {
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #DBDBDB;
}
/* IE 10+ */
#add-product-wrap .input-email:-ms-input-placeholder {
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #DBDBDB;
}
/* Firefox 18- */
#add-product-wrap .input-email:-moz-placeholder {  
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #DBDBDB;
}
