/* 프로필->팔로워목록 */
.followers-list {
    padding-top:23.5px;
    border-top: 0.5px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}
.cont-mockup {
    position: relative;
    background-color: #ffffff;
    width: 390px;
    height: 820px;
    border-radius: 20px;
}

.nav-fixed {
    position:absolute;
    bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #DBDBDB;
}

.f-image {
    border-radius: 50px;
}

.f-radius {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 14px 12px 14px 16px;
}

.f-button {
    width: 56px;
    height: 28px;
    background: none;
    border: 1px solid #dbdbdb;
    border-radius: 26px;
    font-size: 12px;
    line-height: 15.02px;
    color: #767676;
}