#login-email-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 34px 0 34px;
}

#login-email-wrap h1 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.email-id {
  margin-bottom: 16px;
}

.email-pw {
  margin-bottom: 30px;
}

#login-id::placeholder,#login-pw::placeholder {
  position: absolute;
  top: 5px;
  left: 0px;
  color: #dbdbdb;
  font-size: 14px;
 
}
.text-active-input.email-id .error,
.text-active-input.email-pw .error {
  color: #eb5757;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}
.text-active-input.email-id.error .error,
.text-active-input.email-pw.error .error {
  display: block;
  margin-top: 6px;
}
.hidden {
  display: none;
}
.next-btn {
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  background-color: #ffc7a7;
  transition: all 1s;
}
.next-btn:disabled {
  background-color: #ffc7a7;
  cursor: auto;
}
