/* 스크롤 바 없애기 */
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

#post-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 50px;
}
.post-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #dbdbdb;
}
.post-main .home-post .user-profile .basic-profile-img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.post-header .top-basic-nav {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.post-main {
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}
.post-main .inner {
  height: 100%;
  overflow: scroll;
}
.post-main .home {
  margin: 5px auto 0;
}
.post-main .home-post {
  padding: 16px 16px 20px;
  margin-bottom: 0;
}
.post-main .user-comment .basic-profile-img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.post-main .comment-box {
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  margin-bottom: 4px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: scroll;
}
.post-main .comment-list {
  margin-top: 22px;
}
.post-main .user-comment {
  display: flex;
  width: 358px;
  justify-content: space-between;
  margin: 0 auto;
}
.post-main .user-comment .tit-comment {
  display: flex;
  align-items: center;
}
.post-main .tit-comment .txt-username {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 0 6px 0 12px;
}
.post-main .tit-comment .txt-time {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
}
.post-main .btn-more {
  padding: 0;
  border: none;
  background: none;
}
.post-main .txt-comment {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 16px 16px 22px 64px;
}

.post-main .comment {
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #dbdbdb;
}
.post-main .comment .basic-profile {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
