#splash-wrap {
  align-items: center;
  position: relative;
}

.splash {
  position: absolute;
  width: 390px;
  height: 820px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}
