@charset "UTF-8";
/* 간격조절용 */
#icons {
  margin: 20px;
}

#wrapper {
  margin: 20px;
}
/* 간격조절용 */

.icon-arrow-left {
  width: 22px;
  height: 22px;
}

.message-circle {
  padding: 3px;
}
.Google__G__Logo {
  padding: 2.8px 3px;
}
.facebook {
  padding: 2px 7px 2px 6px;
}

.home-post {
  position: relative;
  display: flex;
  width: 100%;
}

.user-profile img {
  width: 42px;
}

.post-section {
  margin-left: 12px;
}

.post-section h3 {
  display: inline-block;
}

.post-author {
  color: var(--gray);
  margin-top: 2px;
  display: block;
}

.post-text {
  margin-top: 16px;
}

.post-img {
  margin-top: 16px;
  width: 100%;
  height: 228px;
  border: 0.5px solid #dbdbdb;
  border-radius: 10px;
  object-fit: cover;
}

.post-more-vertical {
  float: right;
  margin-top: 6px;
}

/**/
.like {
  margin-top: 16px;
  border: none;
  background: none;
}
.like img {
  vertical-align: -6px;
}
/**/
.post-comment {
  margin-left: 12px;
  border: none;
  background: none;
}

.post-comment img {
  vertical-align: -6px;
}

.post-date {
  display: block;
  margin-top: 20px;
  font-family: Spoqa Han Sans Neo;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
}

.product-ul {
  display: flex;
  gap: 10px;
}

.product-ul img {
  max-width: 140px;
  object-fit: cover;
  width: 140px;
  height: 90px;
  left: 0px;
  top: 0px;
  border: 0.5px solid #dbdbdb;
  border-radius: 8px;
}

.product-desc {
  margin-top: 4px;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-overflow: ellipsis;
}

.product-price {
  margin-top: 4px;
  font-family: Spoqa Han Sans Neo;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--orange);
}

#menu {
  font-family: Spoqa Han Sans Neo;
  background-color: pink;
}
/* 보기불편해서 간격 줌 */
#menu div ~ div {
  margin-top: 16px;
}

.top-basic-nav,
.top-search-nav,
.top-main-nav,
.top-upload-nav,
.top-chat-nav,
.tab-menu,
.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 390px;
  width: 100%;
  background-color: #ffffff;
  font-size: 0;
}

.top-basic-nav {
  padding: 12px 12px 12px 16px;
}

.top-search-nav {
  padding: 8px 19px 8px 16px;
}
.top-search-nav input {
  width: 316px;
  padding: 7px 0px 7px 16px;
  border-radius: 32px;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 18px;
  color: #c4c4c4;
  font-family: inherit;
}

.top-main-nav {
  padding: 12px 12px 12px 16px;
}
.top-main-nav h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.top-upload-nav {
  padding: 8px 16px;
}

.top-chat-nav {
  padding: 12px 12px 12px 16px;
}
.top-chat-nav .cont-left {
  display: flex;
  align-items: center;
}
.top-chat-nav .cont-left p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.tab-menu {
  padding: 12px 30px 6px 30px;
}
.tab-menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 14px;
  color: #767676;
  gap: 4px;
  text-align: center;
}

.comment {
  padding: 13px 16px 12px;
}
.comment input {
  display: inline-block;
  width: 270px;
  padding: 4px;
  border: none;
  font-family: inherit;
}
.comment form button {
  font-size: 14px;
  line-height: 18px;
  color: #c4c4c4;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-family: inherit;
  background: none;
}

.user-search,
.user-follow {
  max-width: 358px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
.user-search-img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}
.user-name-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.user-name-title span {
  color: var(--orange);
}
.user-name-sub {
  font-size: 12px;
  line-height: 15px;
  color: #767676;
  margin-top: 6px;
}

.user-follow button {
  position: absolute;
  right: 0;
}

.text-active-input {
  max-width: 322px;
  width: 100%;
  background-color: #fff;
}
.text-active-input label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray);
}
.text-active-input input {
  width: 100%;
  padding-bottom: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  transition: all 0.5s;
}
.text-active-input input:focus {
  border-bottom: 1px solid #f26e22;
  outline: none;
}

.delete-alert {
  max-width: 252px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}
.delete-alert p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 22px 0;
}
.delete-alert .btn-alert {
  display: flex;
  justify-content: space-between;
}
.delete-alert .btn-alert button {
  width: 50%;
  cursor: pointer;
  border: 0.5px solid #dbdbdb;
  font-size: 14px;
  line-height: 18px;
  padding: 14px 0;
  font-family: inherit;
  background-color: #ffffff;
}
.delete-alert .btn-alert .btn-delete {
  color: var(--orange);
}

/* button */
/* ryu는 구분을 위한 공간 */
.ryu {
  margin-top: 50px;
}
.L-button {
  width: 322px;
  height: 44px;
  background: #f26e22;
  border: none;
  border-radius: 44px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.L-Disabled-button {
  width: 322px;
  height: 44px;
  background: #ffc7a7;
  border: none;
  border-radius: 44px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.M-button {
  width: 120px;
  height: 34px;
  background: #f26e22;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.M-Disabled-button {
  width: 120px;
  height: 34px;
  background: #ffc7a7;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.M-Activ-button {
  width: 120px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.Ms-button {
  width: 90px;
  height: 32px;
  background: #f26e22;
  border: none;
  border-radius: 32px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.Ms-Disabled-button {
  width: 90px;
  height: 32px;
  background: #ffc7a7;
  border: none;
  border-radius: 32px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.S-button {
  width: 56px;
  height: 28px;
  background: #f26e22;
  border: none;
  border-radius: 26px;
  font-size: 12px;
  line-height: 15.02px;
  color: #ffffff;
}

.S-Activ-button {
  width: 56px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 26px;
  font-size: 12px;
  line-height: 15.02px;
  color: #767676;
}
